<hfml>
    <head>
         <body bgcolor="009933">
             <title>{{page_name}} - Create</title>
                 
<br>
</br>
<a href="http://www.granite-networks.ca" target="_blank">
<img src="http://www.granite-networks.ca/static/images/GraniteNetworks.png" width="500" height="200" border="2" style="border:2px solid black;" alt="Photo Property of Granite Networks" />
</a>
<p><b><big>Welcome to Granite Intranet Wiki. For Internal use only.</b></big><P>
<br>
    </br>
	    <p>This Page Does Not Exist. To Create a new DCOPS or NETOPS Article <a href="/wikicamp/{{page_name}}/edit/">Create?</a></p>
           <br>
                 </br>
<p>to leave comments concerning warnings and current outages plase use the comments form<p>
    <br>
        </br>
          <form method="POST" action="">{% csrf_token %} <textarea name="Current Warnings" rows="2" cols="20"> </textarea>
     <input type="submit" value="Send"><input type="reset">
     </form>
               
               
               

</body>
        </html>
